.serviços-container {
  background: rgb(11, 107, 108);
  background: linear-gradient(
    0deg,
    rgb(17, 136, 138) 100%,
    rgb(18, 16, 126) 0%
  );
  align-items: center;
  margin: 0 auto;
  padding: 4%;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.serviços-wrapper {
  margin-bottom: 6%;
  align-items: center;
}

.serviços-list {
  align-items: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
}

.serviços-title {
  color: #fff;
  margin-bottom: 2rem;
}

.serviços-item {
  color: rgb(205, 212, 236);
}

.foot-wrapper {
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  background: rgb(9, 33, 83);
  padding: 2%;
  border-radius: 10px;
  padding-bottom: 0.8%;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .serviços-wrapper {
    max-width: 250px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .serviços-wrapper {
    max-width: 350px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .serviços-wrapper {
    max-width: 450px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .serviços-wrapper {
    max-width: 550px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .serviços-wrapper {
    max-width: 650px;
  }
}
