.serviços-container {
  background: rgb(11, 107, 108);
  background: linear-gradient(
    0deg,
    rgb(17, 136, 138) 100%,
    rgb(18, 16, 126) 0%
  );
  align-items: center;
  margin: 0 auto;
  padding: 4%;
  justify-content: center;
  display: flex;
  flex-flow: column;
}

.serviços-wrapper {
  margin-bottom: 6%;
  align-items: center;
}

.serviços-list {
  align-items: center;
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 1rem;
}

.serviços-title {
  color: #fff;
  margin-bottom: 2rem;
}

.serviços-item {
  color: rgb(205, 212, 236);
}

.foot-wrapper {
  margin-top: 6%;
  justify-content: center;
  align-items: center;
  background: rgb(9, 33, 83);
  padding: 2%;
  border-radius: 10px;
  padding-bottom: 0.8%;
}

/* Dispositivos muy pequeños (Telefonos hasta 600px) */
@media only screen and (max-width: 600px) {
  .serviços-wrapper {
    max-width: 250px;
  }
}

/* Dispositivos pequeños (Tablets Portrait y telefonos grandes de mas de 600px) */
@media only screen and (min-width: 600px) {
  .serviços-wrapper {
    max-width: 350px;
  }
}

/* Dispositivos medianos (Tablets landscape de mas de 768px) */
@media only screen and (min-width: 768px) {
  .serviços-wrapper {
    max-width: 450px;
  }
}

/* Dispositivos grandes(Laptop/Pc de escritorio, de mas 992px) */
@media only screen and (min-width: 992px) {
  .serviços-wrapper {
    max-width: 550px;
  }
}

/* Dispositivos extra grandes (laptops grandes y PCs de escritorio de mas de 1200px) */
@media only screen and (min-width: 1200px) {
  .serviços-wrapper {
    max-width: 650px;
  }
}
