* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Merriweather Sans", sans-serif;
}

.home,
.apartamento,
.pontos,
.serviços {
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.apartamento {
  /* background-image: url("./images/depto/piezap1.jpeg"); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.pontos {
  /* background-image: url("images/guarapari/praiadomorro.jpg"); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}

.serviços {
  /* background-image: url("./images/guarapari/praiadomorro.jpg"); */
  background-position: center;
  background-size: fill;
  background-repeat: no-repeat;
  color: #fff;
  font-size: 100px;
}
